<?xml version="1.0"?>

<configuration>
	<appSettings>
		<add key="consumer_key" value="caf4ed4ebd432b68ffd8d2e61108da8e05278b8ec"/>
		<add key="consumer_secret" value="cd1f39417eb473923ca94b20ca440a10"/>
		<add key="CallBack" value="http://localhost:2196/Step3_AccessToken.aspx"/>
	</appSettings>
	<system.web>
		<compilation debug="true"/>
    </system.web>
</configuration>
